.personaje{
text-decoration: underline;
}
#titulo{
margin: auto;
width: fit-content;
margin-bottom: 30px;
padding: 30px;
}
ul{
display: flex;
flex-flow: row wrap;
justify-content: center;
gap: 50px;
}
div{
width: 800px;
}
.foto{
filter: drop-shadow(0 0 0.75rem rgb(94, 87, 87));
}
button{
display: none;
}
/* CSS para mobile */
@media (max-width:767px){
.foto{
width: 70%;
height: auto;
}
div{
width: 100%;
}
.info{
display: none;
}
button{
display:inline-block;
}
.botones{
width: fit-content;
}
}