.novedad{
color: rgb(219, 40, 40);
font-size: 25px;
}
#titulo , .parrafos{
margin: auto;
width: fit-content;
text-align: center;
}
#seccion{
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
gap: 50px;
}
div{
width: 800px;
}
iframe{
filter: drop-shadow(0 0 0.75rem rgb(94, 87, 87));
}
.foto{
width: 500px;
filter: drop-shadow(0 0 0.75rem rgb(94, 87, 87));
}
.foto:hover{
transform: scale(1.2);
}
button{
display: none;
}
/* CSS para mobile */
@media (max-width:767px){
body{
margin:0;
}
button{
display: block;
}
h4{
display: none;
}
ol{
display: none;
margin: 0 auto;
width: fit-content;
}
.foto{
width: 300px;
}
#fotoOculta{
display: none;
}
iframe{
width: 100%;
}
.novedad {
font-size: 1rem;
}
h3{
text-align: center;
}
#seccion{
gap: 1.5rem;
width: 100%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
}
#titulo , .parrafos{
margin: auto;
width: fit-content;
text-align: center;
max-width: 100%;
}
div{
max-width: 100%;
padding: 10px;
}
}
/* CSS para tablet */
@media (min-width:768px) and (max-width:1024px){
button{
display: block;
}
h4{
display: none;
}
ol{
display: none;
margin: 0 auto;
width: fit-content;
}
.foto{
width: 500px;
}
#fotoOculta{
display: none;
}
iframe{
width: 90%;
}
#titulo , .parrafos{
margin: auto;
width: fit-content;
text-align: center;
max-width: 100%;
}
h3{
text-align: center;
}
#seccion{
gap: 1.5rem;
width: 100%;
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;
}
.novedad {
font-size: 1.2rem;
}
div{
max-width: 100%;
padding: 15px;
}
}
