.portada2{
height: 500px;
width: 700px;
}
#seccion1{
display:grid;
grid-template-columns: 50% auto;
max-width: 1000px;
gap: 6%;
margin: 50px auto 0 auto;
}
#seccion2{
display: grid;
grid-template-columns: auto 50%;
margin: 0 auto;
max-width: 1000px;
gap: 5%;
margin: 50px auto 0 auto;
}
@media(max-width:767px) { /* CSS para mobile */
.portada2{
display: none;
}  
#seccion2{
grid-template-columns: 100%;
text-align: center;
}
.portada1{
width: 250px;
}
#seccion1{
display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 1.5rem;
}
}
@media(min-width:768px) and (max-width:1024px){
.portada1{
width: 350px;
}
.portada2{
width: 350px;
height: 300px;
}
#seccion1{
display:flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 1.5rem;
}
#seccion2{
grid-template-columns: auto auto;
gap: 3%;
}
}

