.portada2{
height: 500px;
width: 700px;
}
#seccion1{
display:grid;
grid-template-columns: 500px auto;
margin: 0 auto;
max-width: 1000px;
gap: 50px;
margin: 50px auto 0 auto;
}
#seccion2{
display: grid;
grid-template-columns: auto 500px;
margin: 0 auto;
max-width: 1000px;
gap: 50px;
margin: 50px auto 0 auto;
}


