.creadores{
margin:20px;
border-radius: 10px;
} 
figcaption{
color: aliceblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#articulo1 , #articulo2{
max-width: 800px;
}
#articulos12{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 50px;
margin-top: 50px;
} 
.familia{
width: 400px;
}
#articulo3{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.titulo1{
margin: auto;
width: fit-content;
padding: 50px;
}
#articulos45{
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#articulo5 , #articulo4{
max-width: 870px;
}
.creadores{
display: block;
margin: 0 auto;
}
#ultimaFoto{
width: 870px;
}
iframe{
width: 350px;
height: 250px;
filter: drop-shadow(0 0 0.75rem rgb(94, 87, 87));
}
#cancion{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
#escenarios{
text-align: center;
}
button{
display: none;
}
.verMas{
display: none;
}
/* CSS para mobile */
@media (max-width:767px) {
h2{
text-align: center;
}
iframe{
width: 80%;
height: 50%;
}
#mapa{
margin-left: 2.5rem;
}
.familia{
width: 80%;
margin-left: 2.5rem;
}
figcaption{
margin-left: 2.5rem;
font-size: 0.9rem;
}
#ultimaFoto , .imagen{
width: 100%;
}
#griffin{
height: 200px;
}
#articulo1 , #articulo2 , #articulo4 , #articulo5 , #escenarios{
width: 100%;
}
#escenarios{
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
flex-wrap: wrap;
}
.abreImagen{
display: none;
}
button{
display: inline-block;
background-color: rgb(219, 103, 9);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover {
background-color: #45a049;
}
#botones{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 2%;
}
#p{
margin: 0;
}
.titulo1{
padding: 2rem;
}
#articulos12{
gap: 2rem;
}
.verMas{
display: block;
color: rgb(233, 142, 31);
padding: 5px;
text-decoration-line: underline;
width: fit-content;
}
.verMas:hover{
color: #45a049;
}
.noParrafo{
display: none;
}
}
/* CSS para tablet */
@media (min-width:768px) and (max-width:1024px){
#articulo1 , #articulo2 , #articulo4 , #articulo5 , #escenarios{
width: 100%;
}
iframe{
width: 50%;
height: 40%;
}
#mapa{
width: 80%;
margin-left: 3.7rem;
}
.familia{
width: 70%;
margin-left: 6rem;
}
figcaption{
font-size: 0.9rem;
margin-left: 6rem;
}
#ultimaFoto , .imagen{
width: 80%;
}
.imagen{
margin-left: 3.8rem;
}
#griffin{
height: 300px;
}
.abreImagen{
display: none;
}
button{
display: inline-block;
background-color: rgb(219, 103, 9);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 1rem;
padding: 0.5rem;
}
button:hover {
background-color: #45a049;
}
#botones{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 2%;
}
#p{
margin: 0;
}
.verMas{
display: block;
color: rgb(233, 142, 31);
padding: 5px;
text-decoration-line: underline;
width: fit-content;
}
.verMas:hover{
color: #45a049;
}
.noParrafo{
display: none;
}
}