.creadores{
margin:20px;
border-radius: 10px;
} 
figcaption{
color: aliceblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#articulo1 , #articulo2{
max-width: 800px;
}
#articulos12{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 50px;
margin-top: 50px;
} 
.familia{
width: 400px;
}
#articulo3{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.titulo0 , .titulo1{
margin: auto;
width: fit-content;
padding: 50px;
}
#articulos45{
display:flex;
flex-wrap: wrap;
justify-content: center;
}
#articulo5{
max-width: 870px;
}
.creadores{
display: block;
margin: 0 auto;
}
#ultimaFoto{
width: 870px;
}
iframe{
width: 350px;
height: 250px;
filter: drop-shadow(0 0 0.75rem rgb(94, 87, 87));
}
#cancion{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
#escenarios{
text-align: center;
}
button{
display: none;
}
/* CSS para mobile */
@media (max-width:767px) {
iframe{
width: 280px;
height: 130px;
}
.familia{
width: 250px;
}
#ultimaFoto , .imagen{
width: 350px;
}
#griffin{
height: 200px;
}
#articulo1 , #articulo2 , #articulo4 , #articulo5 , #escenarios{
max-width: 600px;
}
#escenarios{
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
flex-wrap: wrap;
}
.abreImagen{
display: none;
}
button{
display: inline-block;
background-color: rgb(219, 103, 9);
}
#botones{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 2%;
}
}
/* CSS para tablet */
@media (min-width:768px) and (max-width:1024px){
iframe{
width: 300px;
height: 200px;
}
.familia{
width: 300px;
}
#ultimaFoto , .imagen{
width: 450px;
}
#griffin{
height: 300px;
}
.abreImagen{
display: none;
}
button{
display: inline-block;
background-color: rgb(219, 103, 9);
}
#botones{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 2%;
}
}